<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title></title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <p>{{title}}</p>
      [
        {
          name: "minki",
          age: 25
        },
        {
          name: "alessia",
          age: 21
        }
      ]
    </div>
    {{>footer}}
  </body>
</html>
