<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/weather.png" >
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <title>Weather</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <div class="container">
        <div class="row">

          <div class="col-md-4" style="margin: 0 auto;">
            <h1>{{title}}</h1>
            <p class="grey">Use this site to get your weather!</p>
            <div class="search-container">
              <form class="searchLocation">
                <input class="input-sm" placeholder="Location ">
                <button type="submit"><i class="searchIcon"></i></button>
              </form>
              <p><small>ex)Seoul, London, New york</small></p>
            </div>
          </div>

          <div class="col-md-4" >
            <h3 id="mainText"></h3>
            <section class="hide" style="max-width: 1080px; ">
              <h5 id="description"></h5>
              <hr>
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-primary" role="progressbar" style="width:25%">
                  Cold
                </div>
                <div class="progress-bar bg-info" role="progressbar" style="width:25%">
                  Cool
                </div>
                <div class="progress-bar bg-warning" role="progressbar" style="width:25%">
                  Warm
                </div>
                <div class="progress-bar bg-danger" role="progressbar" style="width:25%">
                  Hot
                </div>
              </div>
              <h5 class="mt-2">Temperature ℃</h5>
                <div class="progress" style="height:20px">
                  <div class="progress-bar bg-danger" id="progressbarTemperature" role="progressbar" style="width:25%"></div>
                </div>
              <h5 class="mt-2">Feels Like ℃</h5>
                <div class="progress" style="height:20px">
                  <div class="progress-bar bg-danger" id="progressbarFeelslike" role="progressbar" style="width:25%"></div>
                </div>
            </section>
          </div>
          <div class="col-md-4" style="margin: auto auto;">
            <p>
              <br>
              <img class="hide" src="img/sun.svg"/>
              <br><br><br>
            </p>
          </div>
        </div>
      </div>

    </div>
    {{>footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
