<footer class="text-center bg-dark text-white float-bottom">
  <div class="footer-above">
    <div class="container pt-4">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>Incheon Cheongna</p>
        </div>
        <div class="footer-col col-md-4 mb-2">
          <h3>Social Media</h3>
          <a href="Facebook.com" class="btn btn-light m-2">Facebook</a>
          <a href="Youtube.com" class="btn btn-light m-2">Youtube</a>
          <a href="Instagram.com" class="btn btn-light m-2">Instagram</a>
        </div>
        <div class="foot-col col-md-4">
          <h3>Kim Minki</h3>
          <p>Hewwo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fotter-below pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Kim Minki 2020
        </div>
      </div>
    </div>
  </div>
</footer>
