<footer class="text-center bg-dark text-white float-bottom">
  <div class="fotter-below pt-3 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Kim Minki 2020
        </div>
      </div>
    </div>
  </div>
</footer>
