body
{
  font-family: arial;
  margin: 0 auto;

}
footer
{
  margin-top: 16px;
}
.grey
{
  color: #888888;
}

img
{
  width:250px
}

/* Style the search box inside the navigation bar */
.search-container input {
  padding: 6px;
  border: none;
  margin-top: 8px;

  background: #ddd;
  font-size: 17px;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchIcon
{
  content:url("/img/search.svg")
}
.search-container button:hover {
  background: #ccc;
}

.main-content
{
  border-top: 1px solid #eeeeee;
  max-width:650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 50vh;
  flex-glow:1;
}
